@model TheBillboard.MVC.ViewModel.MessageIndexViewModel

@{
    ViewData["Title"] = "Messages";
    Layout = "_Layout";
}

<h1 class="display-5">@ViewData["Title"]</h1>

<div class="d-flex flex-row">
    <div class="d-flex flex-column w-100">
        <h3>Form</h3>
        @using (Html.BeginForm("Create", "Message", FormMethod.Post))
        {
            <div class="mb-3">
                @Html.LabelFor(model => model.Title, new { @class = "form-label" })
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.Body, new { @class = "form-label" })
                @Html.TextAreaFor(model => model.Body, new { @class = "form-control" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.SelectedAuthor, "Author", new { @class = "form-label" })
                @Html.DropDownListFor(
                    model => model.SelectedAuthor,
                    new SelectList(Model.AvailableAuthors, "Id", "FullName"),
                    "Select an Author",
                    new { @class = "form-control" }
                    )
            </div>

            <button type="submit" class="btn btn-outline-primary">Submit</button>
        }

        <h3>Messages</h3>
        <div class="d-flex flex-column align-items-center">
            @foreach (var message in Model.Messages)
            {
                <div class="card w-50 mb-2">
                    <div class="card-body">
                        <h5 class="card-title">@message.Title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@message.Author?.FullName</h6>
                        <p class="card-text">@message.Body</p>
                        <a class="btn btn-outline-info" asp-action="Detail" asp-route-id="@message.Id">Detail</a>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@message.Id">Delete</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>