@model Message

@{
    ViewData["Title"] = "Message Detail";
    Layout = "_Layout";
}

<h1 class="display-5">@ViewData["Title"]</h1>

@using (Html.BeginForm())
{
    <div class="mb-3">
        @Html.LabelFor(model => model.Title, new { @class = "form-label" })
        @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(model => model.Body, new { @class = "form-label" })
        @Html.TextAreaFor(model => model.Body, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(model => model.PostDate, new { @class = "form-label" })
        @Html.TextBoxFor(model => model.PostDate, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(model => model.Author.GivenName, "Author First Name", new { @class = "form-label" })
        @Html.TextBoxFor(model => model.Author.GivenName, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(model => model.Author.FamilyName, "Author Last Name", new { @class = "form-label" })
        @Html.TextBoxFor(model => model.Author.FamilyName, new { @class = "form-control", @readonly = "readonly" })
    </div>
}